[submodule "src/Plugins/Nop.Plugin.ExternalAuth.oAuth2"]
	path = src/Plugins/Nop.Plugin.ExternalAuth.oAuth2
	url = git@github.com:marketvision/Nop.Plugin.ExternalAuth.oAuth2.git
[submodule "src/Plugins/Nop.Plugin.Payments.Arbor"]
	path = src/Plugins/Nop.Plugin.Payments.Arbor
	url = git@github.com:marketvision/Nop.Plugin.Payments.Arbor.git
[submodule "src/Presentation/Nop.Web/Themes/Emporio"]
	path = src/Presentation/Nop.Web/Themes/Emporio
	url = git@github.com:marketvision/Nop.Commerce.Emporio.Theme.git
[submodule "ci"]
	path = ci
	url = git@github.com:marketvision/Nop.Commerce.Docker.git
[submodule "src/Plugins/Nop.Plugin.NewGen.Pusher"]
	path = src/Plugins/Nop.Plugin.NewGen.Pusher
	url = git@github.com:marketvision/Nop.Plugin.NewGen.Pusher.git
[submodule "src/Plugins/Nop.Plugin.Misc.EventPublisher"]
	path = src/Plugins/Nop.Plugin.Misc.EventPublisher
	url = git@github.com:marketvision/Nop.Plugin.Misc.EventPublisher.git
[submodule "src/Plugins/Nop.Plugin.Misc.NewGen"]
	path = src/Plugins/Nop.Plugin.Misc.NewGen
	url = git@github.com:marketvision/Nop.Plugin.Misc.NewGen.git
[submodule "src/Plugins/Nop.Plugin.Misc.DataMesh"]
	path = src/Plugins/Nop.Plugin.Misc.DataMesh
	url = git@github.com:marketvision/Nop.Plugin.Misc.DataMesh